body {
  color: #666;
  font-family: arial, verdana, sans-serif;
}

h1 {
  background-color: #55A;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  padding: 10px;
}

.container {
  background-color: #FFF;
}

.container header {
  background-color: #6B6;
  color: #000;
}

.container a {
  color: #55A;
}

form {
  width: 300px;
  padding: 12px;
  border-radius: 10px;
  margin: auto;
  background-color: #FFF;
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: white;
  color: #000;
}

.containerOperaciones {
  font-size: 4.5;
}

.containerOperaciones p {
  font-size: 5px;
  width: 22px;
}

.containerMixins h1.invertido {
  font-size: 1.3em;
  padding: 15px;
  background-color: #111;
  color: #eee;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 2em;
  }
}
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: #ff4081;
  -webkit-box-shadow: 1px 1px 0px 2px #ff2770,2px 2px 0px 2px #ff0d5f,3px 3px 0px 2px #f30053,4px 4px 0px 2px #d9004a;
          box-shadow: 1px 1px 0px 2px #ff2770,2px 2px 0px 2px #ff0d5f,3px 3px 0px 2px #f30053,4px 4px 0px 2px #d9004a;
  font-size: 18px;
  color: white;
}

.test {
  -webkit-transform: skew(25deg, 10deg);
  transform: skew(25deg, 10deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20, 20, 20, 0.5);
}

.test-10 {
  height: 10px;
}

.test-20 {
  height: 20px;
}

.test-30 {
  height: 30px;
}

.test-40 {
  height: 40px;
}

.test-50 {
  height: 50px;
}

.test-60 {
  height: 60px;
}

.test-70 {
  height: 70px;
}

.test-80 {
  height: 80px;
}

.test-90 {
  height: 90px;
}

.test-100 {
  height: 100px;
}

div:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: red;
}

div:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: red;
}

div:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background: red;
}

div:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  background: red;
}

div:nth-child(5) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  background: red;
}

div:nth-child(6) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  background: red;
}

div:nth-child(7) {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  background: red;
}

div:nth-child(8) {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
  background: red;
}

div:nth-child(9) {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
  background: red;
}

div:nth-child(10) {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  background: red;
}