//Variables

$color-primario: #55A;
$color-secundario: #6B6;
$color-texto: #666;
$padding-simple: 10px;
$padding-doble: 20px;
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;
$fuente-general: arial, verdana, sans-serif;
$fuente-secundaria: 'Times New Roman', Times, serif;

//Container
$color-container: #FFF;
$color-fuente-container: #000;

//Form
$tamanyo-form: 300px;
$padding-form: 12px;
$margen-form: auto;
$fuente-bold: bold;
$tipo-display: inline-block;

//Form Label
$tamanyo-label: 72px;

//Textarea
$tamanyo-txtarea: 100%;
$altura-txtarea: 100px;
$color-txtarea: #ffff;
$colorLetra-txtarea: #000;



//Usar Variables ejemplo
body{
    color: $color-texto;
    font-family: $fuente-general;
}

h1{
    background-color: $color-primario;
    font-family: $fuente-secundaria;
    font-size: $fuente-normal;
    padding: $padding-simple;
}



//Utilizar Selectores
.container{
    background-color: $color-container;
}

.container header{
    background-color: $color-secundario;
    color: $color-fuente-container;
}

.container a{
    color: $color-primario;
}

form{
    width: $tamanyo-form;
    padding: $padding-form;
    border-radius: 10px;
    margin: $margen-form;
    background-color: $color-container;
}

form label{
    width: $tamanyo-label;
    font-weight: $fuente-bold;
    display: $tipo-display;
}

textarea{
    width: $tamanyo-txtarea;
    height: $altura-txtarea;
    background-color: $color-txtarea;
    color: $colorLetra-txtarea;
}


//Operaciones SASS


.containerOperaciones{
    font-size: (90% / 20%);

}

.containerOperaciones p {
   
    font-size: 10px - 5px;
    width: 20px + 2px;
   
}



//Funciones



//Mixins

@mixin color-invertido {
    background-color: #111;
    color: #eee;
  }

.containerMixins h1.invertido{
    font-size: 1.3em;
    padding: 15px;
    @include color-invertido;
}



@mixin encabezados($tamano) {
    h1 {
      font-size: $tamano;
    }
    h2 {
      font-size: $tamano - 0.2;
    }
    h3 {
      font-size: $tamano - 0.5;
    }
  }

@include encabezados(1.5em);
@media(min-width: 800px) {
  @include encabezados(2em);
}
@media(min-width: 1200px) {
  @include encabezados(2.5em);
}

@mixin threed-button($base-color){
    $shadow: "";
  
    @for $i from 1 through 4{
      $shadow: $shadow + "#{$i}px #{$i}px 0px 2px " + darken($base-color,$i*5) + ",";
    } 
  
    $shadow : str-slice($shadow,0,str-length($shadow)-1);
    appearance: none;
    border:none;
    background: $base-color;
    box-shadow: unquote($shadow);
  }
  button{
    @include threed-button(#ff4081);
    font-size:18px;
    color:white;
  }

  // Tranformaciones default
@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}
// Rotamos
@mixin rotate ($deg) {
@include transform(rotate(#{$deg}deg));
}

// Escalamos
@mixin scale($scale) {
  @include transform(scale($scale));
} 
// Transladamos el cuadrado
@mixin translate ($x, $y) {
@include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
@include transform(skew(#{$x}deg, #{$y}deg));
}
//Hacemos el transforms del original
@mixin transform-origin ($origin) {
 moz-transform-origin: $origin;
      -o-transform-origin: $origin;
     -ms-transform-origin: $origin;
 -webkit-transform-origin: $origin;
       transform-origin: $origin;
}

//Clase test para visualizar el cuadrado
.test {
@include skew(25,10);
@include transform-origin(top left);
position: absolute;
top: 25%;
bottom: 25%;
left: 25%;
right: 25%;
background-color: rgba(20,20,20,.5);
}

//Bucles







